## used to determine whether there is an association between two categorical variables

In [2]:
import scipy.stats as stats

In [3]:
import seaborn as sns
import pandas as pd
import numpy as np

In [4]:
dataset = sns.load_dataset('tips')

In [5]:
dataset.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [6]:
dataset_table = pd.crosstab(dataset['sex'], dataset['smoker'])
print(dataset_table)

smoker  Yes  No
sex
Male     60  97
Female   33  54

## finding out if there is a correlation between the sex and smoker

In [7]:
observed_values = dataset_table.values
print("Observed values: -\n", observed_values)

Observed values: -
 [[60 97]
 [33 54]]

In [8]:
vals = stats.chi2_contingency(dataset_table)

In [10]:
vals

(0.008763290531773594, 0.925417020494423, 1, array([[59.84016393, 97.15983607],
        [33.15983607, 53.84016393]]))

In [11]:
Expected_values = vals[3]

In [12]:
Expected_values

array([[59.84016393, 97.15983607],
       [33.15983607, 53.84016393]])

In [13]:
numberOfRows = len(dataset_table.iloc[0:2, 0])

In [14]:
numberOfColumns = len(dataset_table.iloc[0,0:2])

In [16]:
degreeOfFreedom = (numberOfRows - 1)*(numberOfColumns - 1)

In [17]:
print(degreeOfFreedom)

1

In [18]:
alpha = 0.05

In [19]:
from scipy.stats import chi2

In [20]:
chi_square = sum([(o-e)**2./e for o,e in zip(observed_values, Expected_values)])
chi_square_statistic = chi_square[0] + chi_square[1]

In [21]:
print("chi-square statistic: ", chi_square_statistic)

chi-square statistic:  0.001934818536627623

In [22]:
critical_value = chi2.ppf(q = 1 - alpha, df = degreeOfFreedom)
print('Critical value: ', critical_value)

Critical value:  3.841458820694124

In [24]:
p_value = 1 - chi2.cdf(x = chi_square_statistic, df = degreeOfFreedom)
print('p-value', p_value)
print('Significance level: ', alpha)
print('Degree of freedom: ', degreeOfFreedom)

p-value 0.964915107315732
Significance level:  0.05
Degree of freedom:  1

In [27]:
if chi_square_statistic >= critical_value:
    print("Reject H0, there is a relation between 2 caterogories")
    
else:
    print("Retain H0, there is no relation between 2 caterogories")
    
if p_value <= alpha:
    print("Reject H0, there is a relation between 2 caterogories")
    
else:
    print("Retain H0, there is no relation between 2 caterogories")
    
## basically we did two different tests to reach the same conclusion, here sex and smoking does not have any correlation

Retain H0, there is no relation between 2 caterogories
Retain H0, there is no relation between 2 caterogories